@model E_Mart.Models.Seller

@{
    ViewBag.Title = "Seller Home Page";
}



<div id="section2" class="container-fluid" style="margin-top:40px">
    <div class="text-center jumbotron">
        <h1 style="animation: fadeUp 1.5s forwards;">Seller Home Page</h1>
    </div>
    <div class="row" style="margin-top:40px">
        <div class="col-md-6">
            <div data-aos="fade-down" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1000">
                <a href="~/Products/Create">
                    <img class="rounded mx-auto d-block " src="~/images/Seller_ProductAdd_Logo.png" width="400" height="350" style="margin-bottom: 20px;  " />
                </a>
            </div>
            <div class="text-center" data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1000">
                <blockquote class="blockquote">
                    <a href="~/Products/Create"> <h3>Add Product</h3> </a>

                </blockquote>
            </div>
        </div>

        <div class="col-md-6">
            <div data-aos="fade-down" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1000">
                <a href="~/Orders/Sales_History">
                    <img class="rounded mx-auto d-block" src="~/images/sales_history_logo3.png" width="400" height="350" style="margin-bottom:20px;" />
                </a>
            </div>
            <div class="text-center" data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1000">
                <blockquote class="blockquote">
                    <a href="~/Orders/Sales_History"> <h3>View Sales History</h3> </a>


                </blockquote>
            </div>
        </div>

        

    </div>


    <div class="row" style="margin-top:40px">


        <div class="col-md-6">
            <div data-aos="fade-down" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1000">
                <a href="~/Hases/viewProducts">
                    <img class="rounded mx-auto d-block" src="~/images/view_peoduct_logo.png" width="400" height="350" style="margin-bottom:20px;" />
                </a>
            </div>
            <div class="text-center" data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1000">
                <blockquote class="blockquote">
                    <a href="~/Hases/viewProducts"> <h3>View Your Products</h3> </a>


                </blockquote>
            </div>
        </div>

        <div class="col-md-6">
            <div data-aos="fade-down" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1000">
                <a href="Details">
                    <img class="rounded mx-auto d-block" src="~/images/ViewProfile_Logo.png" width="400" height="350" style="margin-bottom:20px;" />
                </a>
            </div>
            <div class="text-center" data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1000">
                <blockquote class="blockquote">
                    <a href="Details"> <h3>View Profile</h3> </a>


                </blockquote>
            </div>
        </div>

    </div>
</div>




