@model E_Mart.Models.Admin
@{
    ViewBag.Title = "Admin Home Page";
}

<h2></h2>

<div id="section2" class="container-fluid" style="margin-top:40px">
    <div class="text-center jumbotron">
        <h1 style="animation: fadeUp 1.5s forwards;">Admin Home Page</h1>
    </div>
    <div class="row" style="margin-top:40px">
        <div class="col-md-4">
            <div data-aos="fade-down" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1000">
                <a href="~/Orders/Index">
                    <img class="rounded mx-auto d-block " src="~/images/ApproveOrder_Logo.png" width="400" height="350" style="margin-bottom: 20px;  " />
                </a>
            </div>
            <div class="text-center" data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1000">
                <blockquote class="blockquote">
                    <a href="~/Orders/Index"> <h3>Approve Orders</h3> </a>

                </blockquote>
            </div>
        </div>

        <div class="col-md-4">
            <div data-aos="fade-down" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1000">
                <a href="~/Products/ApproveProducts">
                    <img class="rounded mx-auto d-block " src="~/images/Seller_ProductAdd_Logo.png" width="400" height="350" style="margin-bottom: 20px;  " />
                </a>
            </div>
            <div class="text-center" data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1000">
                <blockquote class="blockquote">
                    <a href="~/Products/ApproveProducts"> <h3>Approve Products</h3> </a>

                </blockquote>
            </div>
        </div>

        <div class="col-md-4">
            <div data-aos="fade-down" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1000">
                <a href="DashBoard">
                    <img class="rounded mx-auto d-block" src="~/images/ViewProfile_Logo.png" width="400" height="350" style="margin-bottom:20px;" />
                </a>
            </div>
            <div class="text-center" data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1000">
                <blockquote class="blockquote">
                    <a href="DashBoard"> <h3>View Profile</h3> </a>


                </blockquote>
            </div>
        </div>

    </div>
</div>




