@{
    ViewBag.Title = "About Us";
}



@* About Us *@
<div id="section2" class="container-fluid" style="margin-top:40px">
    <div class="text-center jumbotron">
        <h1>About Us</h1>
    </div>
    <div class="row" style="margin-top:40px">
        <div class="col-md-12">
            <div data-aos="fade-down" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1000">
                <p style="font-size:30px;" align="justify">
                    The name of our project is E-Mart.It is an online market place where users can buy their cherished products
                    like Gadgets,Books,Groceries,Medicine etc.Foodies will also love our platform as there will be online food delivery
                    service.Our users will also be able to send beautiful gifts to their dear ones.Vendors can join us by free
                    registration to sell their attractive products.Admins of the platform will look after every activity of the users
                    and vendors.They will preserve all rights to maintain integrity of the platform.
                </p>
            </div>
            <div class="text-center" data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1000">
            </div>
        </div>


    </div>
</div>



@* Our team *@

<div id="section2" class="container-fluid" style="margin-top:40px">
    <div class="text-center jumbotron">
        <h1>Our Team</h1>
    </div>
    <div class="row" style="margin-top:40px">
        <div class="col-md-4">
            <div data-aos="fade-down" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1000">
                <img class="rounded mx-auto d-block" src="~/images/kamrozzaman.jpg" width="400" height="350" style="margin-bottom:20px;" />
            </div>
            <div class="text-center" data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1000">
                <blockquote class="blockquote">
                    <h3>MD. Kamrozzaman Bhuiyan</h3>
                    <footer class="blockquote-footer"><h5>3rd Year 2nd Semester</h5></footer>
                </blockquote>
            </div>
        </div>

        <div class="col-md-4">
            <div data-aos="fade-down" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1000">
                <img class="rounded mx-auto d-block" src="~/images/Rakib.jpg" width="400" height="350" style="margin-bottom:20px;" />
            </div>
            <div class="text-center" data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1000">
                <blockquote class="blockquote">
                    <h3>Md. Rakibul Islam</h3>
                    <footer class="blockquote-footer"><h5>3rd Year 2nd Semester</h5></footer>
                </blockquote>
            </div>
        </div>

        <div class="col-md-4">
            <div data-aos="fade-down" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1000">
                <img class="rounded mx-auto d-block" src="~/images/Rahat.jpg" width="400" height="350" style="margin-bottom:20px;" />
            </div>
            <div class="text-center" data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1000">
                <blockquote class="blockquote">
                    <h3>Rahat Chowdhury</h3>
                    <footer class="blockquote-footer"><h5>3rd Year 2nd Semester</h5></footer>
                </blockquote>
            </div>
        </div>
    </div>
</div>

