@{
    ViewBag.Title = "Contact";
}


<h1 style="text-align:center; margin-top:10px; margin-bottom:20px;">Frequently Asked Questions</h1>

<div id="section2" class="container-fluid" style="margin-top:40px">
    <div class="text-center jumbotron">
       
    </div>
    <div class="row" style="margin-top:40px">
        <div class="col-md-12">
            <div data-aos="fade-down" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1000">
                <h3>
                    What Do We Provide?
                </h3>
                <p style="font-size:20px;" align="justify">
                    We provide all kind of necessary products in a very short time and we also guarantee the reliability of the product. 
                </p>
                <h3 style="margin-top:20px;">
                    Why Choose Us?
                </h3>
                <p style="font-size:20px;" align="justify">
                    In  our Platform, Users can buy their desired goods in reasonable price and Sellers can also sell their products in a good profit. 
                </p>
                <h3 style="margin-top:20px;">
                    Why are we different?
                </h3>
                <p style="font-size:20px;" align="justify">
                    We can ensure maximum security to all of the transactions through our platform. Our Admins review all kind of products, orders and all kind of activities in our platform.
                </p>
            </div>
            <div class="text-center" data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1000">
            </div>
        </div>


    </div>
</div>
