

<div id="section2" class="container-fluid" style="margin-top:40px">
    <div class="text-center jumbotron">
        <h1>About Us</h1>
    </div>
    <div class="row" style="margin-top:40px">
        <div class="col-md-12">
            <div data-aos="fade-down" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1000">
                <h4>
                    What Do we Provide?
                </h4>
                <p style="font-size:30px;" align="justify">
                    Heda
                </p>
                <h4>
                    Why Choose Us?
                </h4>
                <p style="font-size:30px;" align="justify">
                    Hudai
                </p>
                <h4>
                    Why are we different?
                </h4>
                <p style="font-size:30px;" align="justify">
                    Emnei
                </p>
            </div>
            <div class="text-center" data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1000">
            </div>
        </div>


    </div>
</div>
